.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  min-height: 100vh;
  background-size: cover;
}
.home-content {
  padding: 30px;
  width: 50%;
  margin-left: 30px;
}
.home-title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 50px;
}
.home-des {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
}
.find-jobs-btn {
  color: #ffffff;
  font-family: Roboto;
  background-color: #6366f1;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;
  margin-top: 30px;
  cursor: pointer;
}
